backEndData/data/ignite_flow/flows/flows.json
[{"id":"e14c3e7a927c2290","type":"tab","label":"Login and Register","disabled":false,"info":"","env":[]},{"id":"865d81b2.a189c","type":"subflow","name":"Sequelize Pool Connection","info":"","category":"Database","in":[],"out":[],"env":[{"name":"DB_CONTEXT","type":"str","value":""},{"name":"DATABASE_URL","type":"str","value":""},{"name":"DIALECT","type":"str","value":"POSTGRES","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"POSTGRES"},"v":"POSTGRES"},{"l":{"en-US":"MSSQL"},"v":"MSSQL"},{"l":{"en-US":"MYSQL"},"v":"MYSQL"}]},"label":{}}},{"name":"SSL","type":"str","value":"true"},{"name":"LOGGING","type":"bool","value":"true"}],"color":"#399af3","icon":"font-awesome/fa-handshake-o","status":{"x":360,"y":60,"wires":[{"id":"536d1b04.e4e3a4","port":0}]}},{"id":"e3c2b69a.c6db58","type":"subflow","name":"Sequelize: Connection","info":"### Description\nThis connector can be used to connect to various databases given the DbContext, Database URL, Dialect, SSL option and logging option.\n\nFollowing message properties needs to be provided to the connector.\n\n - DB_CONTEXT => DB_Context\n - DATABASE_URL => Connection url for database \n - DIALECT => Dialect of the database that you need to connect to.\n - SSL => SSL option for database, choose either true or false.\n - LOGGING => Logging option, either true or false.\n\n\n","category":"Database","in":[],"out":[],"env":[{"name":"DB_CONTEXT","type":"str","value":"RUNTIME_DATABASE"},{"name":"DATABASE_URL","type":"env","value":"DATABASE_URL"},{"name":"DIALECT","type":"str","value":"POSTGRES","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"POSTGRES"},"v":"POSTGRES"},{"l":{"en-US":"MSSQL"},"v":"MSSQL"},{"l":{"en-US":"MYSQL"},"v":"MYSQL"}]},"label":{}}},{"name":"SSL","type":"env","value":"DB_SSL_OPTION"},{"name":"LOGGING","type":"bool","value":"true"}],"color":"#399af3","icon":"ignite-connectors/sequelize.png","status":{"x":360,"y":60,"wires":[{"id":"c9f7bd27.435af","port":0}]}},{"id":"bdb37dd2.45963","type":"subflow","name":"Sequelize: Query","info":"### Description\nThis connector can be used to connect to the database using sQueries and sBinds. It also eliminates the risk of sql injections completely.\n\nFollowing message properties can which needs to be provided to the connector.\n\n - msg.sQuery => The sQuery for querying the database.\n - msg.sBinds => Binds for the sQuery\n\n---\n\n**Sample msg.sQuery and msg.sBinds**\n\n    msg.sQuery = `SELECT id FROM public.ignite_connectors WHERE name = $connector_id`\n    msg.sBinds = {\n    connector_id: msg.load.connector_id};\n    return msg;\n\n---\n\n","category":"Database","in":[{"x":60,"y":200,"wires":[{"id":"61485bdf.2b92c4"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"6d95d36e.b0e70c","port":1}]},{"x":880,"y":160,"wires":[{"id":"6d95d36e.b0e70c","port":0}]}],"env":[{"name":"DB_CONTEXT","type":"str","value":"RUNTIME_DATABASE"},{"name":"Query","type":"str","value":""},{"name":"Parameters","type":"json","value":"{}"}],"color":"#F46224","outputLabels":["success","error"],"icon":"ignite-connectors/sequelize.png","status":{"x":460,"y":100,"wires":[{"id":"d2e03366.bd36d","port":0}]}},{"id":"5854327e.3f301c","type":"subflow","name":"Sequelize: Connection (2)","info":"### Description\nThis connector can be used to connect to various databases given the DbContext, Database URL, Dialect, SSL option and logging option.\n\nFollowing message properties needs to be provided to the connector.\n\n - DB_CONTEXT => DB_Context\n - DATABASE_URL => Connection url for database \n - DIALECT => Dialect of the database that you need to connect to.\n - SSL => SSL option for database, choose either true or false.\n - LOGGING => Logging option, either true or false.\n\n\n","category":"Database","in":[],"out":[],"env":[{"name":"DB_CONTEXT","type":"str","value":"RUNTIME_DATABASE"},{"name":"DATABASE_URL","type":"str","value":""},{"name":"HOST","type":"str","value":""},{"name":"PORT","type":"str","value":""},{"name":"USERNAME","type":"str","value":""},{"name":"PASSWORD","type":"str","value":""},{"name":"DATABASE","type":"str","value":""},{"name":"DIALECT","type":"str","value":"POSTGRES","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"POSTGRES"},"v":"POSTGRES"},{"l":{"en-US":"MSSQL"},"v":"MSSQL"},{"l":{"en-US":"MYSQL"},"v":"MYSQL"}]},"label":{}}},{"name":"SSL","type":"bool","value":"true"},{"name":"LOGGING","type":"bool","value":"true"}],"color":"#399af3","icon":"ignite-connectors/sequelize.png","status":{"x":360,"y":60,"wires":[{"id":"5f44cb7a.28bd44","port":0}]}},{"id":"89549df0.4bba9","type":"function","z":"865d81b2.a189c","name":"DB Database Connection Pooling","func":"// @ts-nocheck\nnode.status({fill:\"blue\",shape:\"ring\",text:\"connecting...\"});\nlet require = global.get('require');\nlet sequelize = require('sequelize');\n\nlet connection = new sequelize(env.get('DATABASE_URL'), {\n    dialect:  env.get('DIALECT').toLowerCase(),\n    dialectOptions: {\n        ssl:  env.get('SSL') || true\n    },\n    logging : env.get('LOGGING') || false\n});\n\nglobal.set(env.get('DB_CONTEXT'), { connection });\nsetTimeout(function(){\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}, 2000)\n","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[],"icon":"font-awesome/fa-handshake-o"},{"id":"5825c624.4ff938","type":"inject","z":"865d81b2.a189c","name":"","repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"refreshing","payloadType":"str","x":190,"y":120,"wires":[["89549df0.4bba9"]]},{"id":"536d1b04.e4e3a4","type":"status","z":"865d81b2.a189c","name":"","scope":null,"x":160,"y":60,"wires":[[]]},{"id":"135ddd8e.dd6e62","type":"function","z":"e3c2b69a.c6db58","name":"DB Database Connection Pooling","func":"// @ts-nocheck\nnode.status({fill:\"blue\",shape:\"ring\",text:\"connecting...\"});\nlet require = global.get('require');\nlet sequelize = require('sequelize');\nlet env_ssl = env.get('DB_SSL_OPTION');\nlet ssl = true;\n\nif(env_ssl && (env_ssl === \"false\" || env_ssl === false) ){\n    ssl = false;\n} else{\n    ssl = env.get(\"SSL\") || true;\n}\n\nlet connection = new sequelize(env.get('DATABASE_URL'), {\n    dialect:  env.get('DIALECT').toLowerCase(),\n    dialectOptions: {\n        ssl\n    },\n    logging : env.get('LOGGING') || false\n});\n\nglobal.set(env.get('DB_CONTEXT'), { connection });\n\nsetTimeout(function(){\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}, 2000);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[],"icon":"font-awesome/fa-handshake-o"},{"id":"492ce4d8.e36b5c","type":"inject","z":"e3c2b69a.c6db58","name":"","repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"refreshing","payloadType":"str","x":190,"y":120,"wires":[["135ddd8e.dd6e62"]]},{"id":"c9f7bd27.435af","type":"status","z":"e3c2b69a.c6db58","name":"","scope":null,"x":160,"y":60,"wires":[[]]},{"id":"4e5c81d3.205e9","type":"function","z":"bdb37dd2.45963","name":"Executing Query","func":"if(msg.event.sQuery && msg.event.sBinds){\n    node.status({fill:\"green\",shape:\"ring\",text:\"executing sql\"});\n    let db = global.get(env.get('DB_CONTEXT'));\n    db.connection.query(msg.event.sQuery,\n    {\n        bind: msg.event.sBinds\n    })\n    .then(([results, metadata])  => {\n        node.status({});\n        msg.payload = results;\n        msg.metadata = metadata;\n        msg.error = false;\n        node.send(msg);\n    }, error=>{\n        node.status({fill:\"red\",shape:\"dot\",text:\"SQL Error\"});\n        msg.payload = [];\n        msg.metadata = {};\n        msg.error = error;\n        node.send(msg);\n    });\n}else{\n    msg.error = \"No query(sQuery) or Binds(sBinds) found.\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"no query or binds provided\"});\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["372cc109.d2b42e"]]},{"id":"6d95d36e.b0e70c","type":"switch","z":"bdb37dd2.45963","name":"error ?","property":"error","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":200,"wires":[[],[]]},{"id":"3d464a3d.e0cca6","type":"comment","z":"bdb37dd2.45963","name":"Error","info":"","x":890,"y":100,"wires":[]},{"id":"5cee4219.1ef80c","type":"comment","z":"bdb37dd2.45963","name":"Success","info":"","x":920,"y":320,"wires":[]},{"id":"d2e03366.bd36d","type":"status","z":"bdb37dd2.45963","name":"","scope":null,"x":160,"y":100,"wires":[[]]},{"id":"61485bdf.2b92c4","type":"function","z":"bdb37dd2.45963","name":"Retrieve values","func":"msg.event = {\n    sQuery : msg.sQuery || env.get('Query'),\n    sBinds : msg.sBinds || env.get('Parameters') || {},\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":200,"wires":[["4e5c81d3.205e9"]]},{"id":"372cc109.d2b42e","type":"change","z":"bdb37dd2.45963","name":"Delete Event","rules":[{"t":"delete","p":"event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":200,"wires":[["6d95d36e.b0e70c"]]},{"id":"709f786d.24b728","type":"function","z":"5854327e.3f301c","name":"DB Database Connection Pooling","func":"// @ts-nocheck\nnode.status({fill:\"blue\",shape:\"ring\",text:\"connecting...\"});\nlet require = global.get('require');\nlet sequelize = require('sequelize');\n\nlet db = {\n    context: env.get('DB_CONTEXT'),\n    dialect: env.get('DIALECT').toLowerCase(),\n    host: env.get('HOST'),\n    port: env.get('PORT'),\n    username: env.get('USERNAME'),\n    password: env.get('PASSWORD'),\n    database: env.get('DATABASE'),\n    ssl: env.get('SSL'),\n    logging: env.get('LOGGING')\n};\nlet connection = null;\n\nif (db.dialect === 'postgres'){\n    // will add pg connection here\n    connection = new sequelize(db.database, db.username, db.password, {\n        host: db.host,\n        dialect: db.dialect,\n        dialectOptions: {\n            ssl: db.ssl || true\n        },\n        logging: db.logging || false\n    });\n} else if (db.dialect === 'mssql') {\n    connection = new sequelize(db.database, db.username, db.password, {\n        host: db.host,\n        dialect: db.dialect,\n        dialectOptions: {\n            options: {\n                encrypt: db.ssl,\n            }\n        }\n    });\n};\n\nglobal.set(db.context, { connection });\n\nsetTimeout(function(){\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n    msg.load =  db;\n    node.send(msg);\n}, 2000);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[],"icon":"font-awesome/fa-handshake-o"},{"id":"931fc3fa.6f7d9","type":"inject","z":"5854327e.3f301c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"refreshing","payloadType":"str","x":190,"y":120,"wires":[["709f786d.24b728"]]},{"id":"5f44cb7a.28bd44","type":"status","z":"5854327e.3f301c","name":"","scope":null,"x":160,"y":60,"wires":[[]]},{"id":"1c5c636b68ea7368","type":"http in","z":"e14c3e7a927c2290","name":"[POST]/register","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":140,"y":600,"wires":[["e81bd48c93f4f15b","a1adb3afbeb82d6e"]]},{"id":"e81bd48c93f4f15b","type":"function","z":"e14c3e7a927c2290","name":"extract data from payload","func":"//data model\nmsg.userData = {\n    \"email\":msg.payload.email,\n    \"password\":msg.payload.password,\n};\nmsg.sQuery=`SELECT * FROM Users WHERE email = $email`;\nmsg.sBinds = {\n    email: msg.userData.email,\n    // email: \"msg.userData.email\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":600,"wires":[["b3477d9564b355a1","b667364794b15793"]]},{"id":"583a7db9290d0d67","type":"function","z":"e14c3e7a927c2290","name":"check weather exist already in DB or not","func":"//does exist so we get something in payload as return\nif(msg.payload.length!=0){\n    msg.doesExist = true;\n}\nelse{\n    msg.doesExist = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["a95a1f6bd4c09c12"]]},{"id":"a95a1f6bd4c09c12","type":"switch","z":"e14c3e7a927c2290","name":"","property":"doesExist","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":740,"wires":[["2ff113124c83c922"],["0c85b646e919f7b4"]]},{"id":"2ff113124c83c922","type":"function","z":"e14c3e7a927c2290","name":"user doesnot exist with that email","func":"//insert into database\nmsg.otp = Math.random();\nmsg.otp = msg.otp * 1000000;\nmsg.otp = parseInt(msg.otp);\nmsg.sQuery = `INSERT INTO Users VALUES($email, $password, $otp)`;\nmsg.sBinds={\n    email: msg.userData.email,\n    password: msg.userData.password,\n    otp: msg.otp\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":580,"wires":[["7428c937a4ac98a6"]]},{"id":"0c85b646e919f7b4","type":"function","z":"e14c3e7a927c2290","name":"user exist already","func":"msg.payload = {\n    isRegistered: false,\n    msg: \"User already Exist\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":620,"wires":[["dde27f202db934d6"]]},{"id":"dde27f202db934d6","type":"http response","z":"e14c3e7a927c2290","name":"","statusCode":"","headers":{},"x":1050,"y":660,"wires":[]},{"id":"e3adad44146fd045","type":"http in","z":"e14c3e7a927c2290","name":"[POST]/sendOTP","url":"/sendOTP","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1020,"wires":[["572c395d2f82ba83","21e6b6f0d221c516"]]},{"id":"6c0e0f4e83293c08","type":"http request","z":"e14c3e7a927c2290","name":"sendOTP","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/sendOTP","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1580,"y":600,"wires":[["7478572f8b47b6f5"]]},{"id":"fb158848f8836505","type":"http response","z":"e14c3e7a927c2290","name":"200","statusCode":"","headers":{},"x":2050,"y":600,"wires":[]},{"id":"7478572f8b47b6f5","type":"function","z":"e14c3e7a927c2290","name":"Registration successful","func":"msg.payload = {\n    isRegistered: true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":600,"wires":[["fb158848f8836505","7f50e9b076e661cc"]]},{"id":"61cd48a40d1ee1d9","type":"http in","z":"e14c3e7a927c2290","name":"[POST]/resendOTP","url":"/resendOTP","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1320,"wires":[["792fec5b1c0545b0"]]},{"id":"41a7b88110892cb0","type":"http in","z":"e14c3e7a927c2290","name":"[POST]/verifyOTP","url":"/verifyOTP","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1720,"wires":[["cbf0e66cdab52c8e"]]},{"id":"792fec5b1c0545b0","type":"function","z":"e14c3e7a927c2290","name":"resend the otp","func":"var mailOptions = {\n    to: msg.payload.email,\n    subject: \"Otp for registration is: \",\n    html: \"<h3>OTP for account verification is </h3>\" + \"<h1 style='font-weight:bold;'>\" + msg.otp + \"</h1>\" // html body\n};\n//send mail here\nmsg.transporter.sendMail(mailOptions, (error, info) => {\n    if (error) {\n        msg.isOTPSent = false;\n    }\n    msg.messageID = info.messageId;\n    msg.messageURL = nodemailer.getTestMessageUrl(info);\n    msg.isOTPSent = true;\n    // console.log('Message sent: %s', info.messageId);\n    // console.log('Preview URL: %s', nodemailer.getTestMessageUrl(info));\n\n\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"nodemailer","module":"nodemailer"}],"x":340,"y":1320,"wires":[["eeae1a8e9d2b9e35"]]},{"id":"eeae1a8e9d2b9e35","type":"switch","z":"e14c3e7a927c2290","name":"filter is otp sent","property":"isOTPSent","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":1320,"wires":[["3dbc64a62f72b307"],["786ca00143bfcb8e"]]},{"id":"3dbc64a62f72b307","type":"function","z":"e14c3e7a927c2290","name":"function 3","func":"msg.payload = {\n    otpSent:\"true\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1260,"wires":[["013c2c1b1a494d80"]]},{"id":"786ca00143bfcb8e","type":"function","z":"e14c3e7a927c2290","name":"function 4","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1340,"wires":[["3d0cc86c757277e0"]]},{"id":"cbf0e66cdab52c8e","type":"function","z":"e14c3e7a927c2290","name":"extract OTP from body and DB","func":"msg.email = msg.payload.email;\nmsg.otp = msg.payload.otp;\n\n//run sql query to fetch the otp from the database for particular email\nmsg.sQuery = `SELECT otpsent FROM Users WHERE email = $email`;\nmsg.sBinds = {\n    email: msg.email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1720,"wires":[["fb2e7f38cf57b374"]]},{"id":"4ed6c461a5e02015","type":"function","z":"e14c3e7a927c2290","name":"filter the user based on otp entered","func":"if(msg.payload.length!=0){\n    msg.recievedOTP = msg.payload[0].otpsent;\n    msg.isDataThere = true\n}\nelse{\n    msg.isDataThere = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1720,"wires":[["51683f368a2de9ee"]]},{"id":"059698bebc26afab","type":"function","z":"e14c3e7a927c2290","name":"compare both OTP","func":"if (msg.recievedOTP == msg.otp){\n\n        msg.isOTPVerified = true;\n\n   \n}\nelse{\n    msg.isOTPVerified = false;\n}\nmsg.sQuery = `UPDATE Users\nSET otpsent = NULL\nWHERE email =$email`;\nmsg.sBinds={\n    email: msg.email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1720,"wires":[["5c5f295d8b8bc437"]]},{"id":"013c2c1b1a494d80","type":"http response","z":"e14c3e7a927c2290","name":"","statusCode":"","headers":{},"x":990,"y":1260,"wires":[]},{"id":"3d0cc86c757277e0","type":"http response","z":"e14c3e7a927c2290","name":"","statusCode":"","headers":{},"x":1010,"y":1340,"wires":[]},{"id":"5833b90a46f57013","type":"http response","z":"e14c3e7a927c2290","name":"","statusCode":"","headers":{},"x":2190,"y":1720,"wires":[]},{"id":"a1adb3afbeb82d6e","type":"debug","z":"e14c3e7a927c2290","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":560,"wires":[]},{"id":"7f50e9b076e661cc","type":"debug","z":"e14c3e7a927c2290","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1760,"y":560,"wires":[]},{"id":"572c395d2f82ba83","type":"debug","z":"e14c3e7a927c2290","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":980,"wires":[]},{"id":"476d4e22.cc924","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","env":[],"x":790,"y":80,"wires":[["03765d137915851d"],["03765d137915851d"]]},{"id":"ea75ad440169e596","type":"inject","z":"e14c3e7a927c2290","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":80,"wires":[["777e4573998b358f"]]},{"id":"777e4573998b358f","type":"function","z":"e14c3e7a927c2290","name":"create a demo table","func":"msg.sQuery = `CREATE TABLE Users (\n    email VARCHAR(255) NOT NULL,\n    password VARCHAR(255) NOT NULL,\n    otpSent VARCHAR(255) NULL\n);\n`;\n// msg.sQuery = `DROP TABLE Users`\nmsg.sBinds = {\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":80,"wires":[["476d4e22.cc924"]]},{"id":"03765d137915851d","type":"debug","z":"e14c3e7a927c2290","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":80,"wires":[]},{"id":"40ed572c6c78d128","type":"inject","z":"e14c3e7a927c2290","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2440,"wires":[["61bed7ccb725b177"]]},{"id":"e70c1920fb0a80d5","type":"e-mail","z":"e14c3e7a927c2290","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Email node setup","x":550,"y":2440,"wires":[]},{"id":"61bed7ccb725b177","type":"function","z":"e14c3e7a927c2290","name":"function 7","func":"msg.topic = \"OTP VERIFICATION\"\nmsg.otp = Math.random();\nmsg.otp = msg.otp * 1000000;\nmsg.otp = parseInt(msg.otp);\n//this message will be sent to the user.\nmsg.payload = msg.otp;\nmsg.to = 'bhandarisudhir4274@gmail.com';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2440,"wires":[["e70c1920fb0a80d5","c3147eee8d028d38"]]},{"id":"28e0982544021b26","type":"comment","z":"e14c3e7a927c2290","name":"Send Email","info":"You can send email to the desired person from here.","x":110,"y":2400,"wires":[]},{"id":"0a6e58e9802b0a0f","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","env":[],"x":790,"y":160,"wires":[["d9fda6f6369f26e7"],["d9fda6f6369f26e7"]]},{"id":"b7237dc5c1404583","type":"inject","z":"e14c3e7a927c2290","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":160,"wires":[["9b39cda60980c5b6"]]},{"id":"9b39cda60980c5b6","type":"function","z":"e14c3e7a927c2290","name":"Insert into table","func":"msg.sQuery = `INSERT INTO Users VALUES(\n    $email,\n    $password\n);\n`;\nmsg.sBinds = {\n    email: \"sudhir.bhandari057@gmail.com\",\n    password:\"helloDear\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":160,"wires":[["0a6e58e9802b0a0f"]]},{"id":"d9fda6f6369f26e7","type":"debug","z":"e14c3e7a927c2290","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":160,"wires":[]},{"id":"cf9bcb56f4dfedb1","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","env":[],"x":790,"y":260,"wires":[["71312b93b0babaa2"],["71312b93b0babaa2"]]},{"id":"b03a310987a5afa6","type":"inject","z":"e14c3e7a927c2290","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":260,"wires":[["0845bda631381bd1"]]},{"id":"0845bda631381bd1","type":"function","z":"e14c3e7a927c2290","name":"Fetch All Table Data","func":"msg.sQuery = `SELECT * FROM dbClientUser\n`;\nmsg.sBinds = {\n    email: \"sudhir.bhandari057@gmail.com\",\n    password:\"helloDear\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":260,"wires":[["cf9bcb56f4dfedb1"]]},{"id":"71312b93b0babaa2","type":"debug","z":"e14c3e7a927c2290","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":260,"wires":[]},{"id":"b3477d9564b355a1","type":"debug","z":"e14c3e7a927c2290","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":560,"wires":[]},{"id":"b667364794b15793","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","env":[],"x":550,"y":660,"wires":[["583a7db9290d0d67","ec74b1c7cad4fb7d"],["ec74b1c7cad4fb7d"]]},{"id":"ec74b1c7cad4fb7d","type":"debug","z":"e14c3e7a927c2290","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":720,"wires":[]},{"id":"c3147eee8d028d38","type":"debug","z":"e14c3e7a927c2290","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":2520,"wires":[]},{"id":"27938a792e6dfa31","type":"e-mail","z":"e14c3e7a927c2290","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Email node setup","x":870,"y":1020,"wires":[]},{"id":"21e6b6f0d221c516","type":"function","z":"e14c3e7a927c2290","name":"Send email setup ","func":"msg.topic = \"OTP VERIFICATION\"\nmsg.to = msg.payload.email;\n// msg.payload = msg.payload.otp;\nmsg.otp = msg.payload.otp;\nmsg.payload = `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional //EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html\n  xmlns=\"http://www.w3.org/1999/xhtml\"\n  xmlns:v=\"urn:schemas-microsoft-com:vml\"\n  xmlns:o=\"urn:schemas-microsoft-com:office:office\"\n>\n  <head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <meta name=\"x-apple-disable-message-reformatting\" />\n\n    <!--[if !mso]><!-->\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n    <!--<![endif]-->\n\n    <!-- Your title goes here -->\n    <title>Verify your email</title>\n    <!-- End title -->\n\n    <!-- Start stylesheet -->\n    <style type=\"text/css\">\n      a,\n      a[href],\n      a:hover,\n      a:link,\n      a:visited {\n        /* This is the link colour */\n        text-decoration: none !important;\n        color: #ffffff;\n      }\n      .link {\n        text-decoration: underline !important;\n      }\n      p,\n      p:visited {\n        /* Fallback paragraph style */\n        font-size: 15px;\n        line-height: 24px;\n        font-family: \"Helvetica\", Arial, sans-serif;\n        font-weight: 300;\n        text-decoration: none;\n        color: #000000;\n      }\n      h1 {\n        /* Fallback heading style */\n        font-size: 22px;\n        line-height: 24px;\n        font-family: \"Helvetica\", Arial, sans-serif;\n        font-weight: normal;\n        text-decoration: none;\n        color: #000000;\n      }\n    </style>\n    <!-- End stylesheet -->\n  </head>\n\n  <!-- You can change background colour here -->\n  <body\n    style=\"\n      text-align: center;\n      margin: 0;\n      padding-top: 10px;\n      padding-bottom: 10px;\n      padding-left: 0;\n      padding-right: 0;\n      -webkit-text-size-adjust: 100%;\n      background-color: #f2f4f6;\n      color: #000000;\n    \"\n    align=\"center\"\n  >\n    <!-- Fallback force center content -->\n    <div style=\"text-align: center\">\n      <!-- Start container for logo -->\n      <table\n        align=\"center\"\n        style=\"\n          text-align: center;\n          vertical-align: top;\n          width: 600px;\n          max-width: 600px;\n          background-color: #002c3f;\n        \"\n        width=\"600\"\n      >\n        <tbody>\n          <tr>\n            <td\n              style=\"\n                width: 596px;\n                vertical-align: top;\n                padding-left: 0;\n                padding-right: 0;\n                padding-top: 15px;\n                padding-bottom: 15px;\n              \"\n              width=\"596\"\n            >\n              <!-- Your logo is here -->\n              <img\n                style=\"\n                  width: 540px;\n                  max-width: 540px;\n                  height: 30px;\n                  max-height: 255px;\n                  text-align: center;\n                  color: #ffffff;\n                \"\n                alt=\"Logo\"\n                src=\"https://cginfinity.com/wp-content/uploads/2022/04/cgi-logo.svg\"\n                align=\"center\"\n                width=\"180\"\n                height=\"85\"\n              />\n\n              <div style=\"margin-top: 20px; margin-left: 30px\">\n                <p\n                  style=\"\n                    font-size: 14px;\n                    margin-right: 25px;\n                    margin-top: 0px;\n                    line-height: 24px;\n                    letter-spacing: 2px;\n                    font-family: 'Helvetica', Arial, sans-serif;\n                    font-weight: 500;\n                    text-decoration: none;\n                    color: #ffffff;\n                  \"\n                >\n                  THANKS FOR SIGNING UP!\n                </p>\n\n                <p\n                  style=\"\n                    color: #ffffff;\n                    font-weight: 500;\n                    margin-bottom: 10px;\n                    letter-spacing: 2px;\n                    font-size: 25px;\n                    margin-top: 15px;\n                  \"\n                >\n                  Verify Your E-mail Address\n                </p>\n              </div>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <!-- End container for logo -->\n\n      <table\n        align=\"center\"\n        style=\"\n          text-align: center;\n          vertical-align: top;\n          width: 600px;\n          max-width: 600px;\n          background-color: #ffffff;\n        \"\n        width=\"600\"\n      >\n        <tbody>\n          <tr>\n            <td style=\"width: 596px; vertical-align: top\" width=\"596\">\n              <div style=\"margin-top: 50px; margin-left: 30px\">\n                <p\n                  style=\"\n                    font-size: 18px;\n                    margin-right: 25px;\n                    margin-top: 0px;\n                    line-height: 24px;\n                    font-family: 'Helvetica', Arial, sans-serif;\n                    font-weight: 500;\n                    text-decoration: none;\n                    color: #000000;\n                  \"\n                >\n                  Hi, <br />\n                  You are almost ready to get started <br />\n                  Please Confirm Your account by entering the authorization code\n                </p>\n\n                <h1\n                  style=\"\n                    font-size: 32px;\n                    line-height: 24px;\n                    margin-right: 25px;\n                    font-family: 'Helvetica', Arial, sans-serif;\n                    font-weight: 600;\n                    text-decoration: none;\n                    color: #efb329;\n                  \"\n                >\n                  {1}\n                </h1>\n\n                <a href=\"https://cginfinity.com/\">\n                  <p\n                    style=\"\n                      font-size: 16px;\n                      margin-right: 25px;\n                      margin-top: 5px;\n                      line-height: 24px;\n                      font-family: 'Helvetica', Arial, sans-serif;\n                      font-weight: 500;\n                      text-decoration: none;\n                      color: #000000;\n                    \"\n                  >\n                    Thanks, <br />\n                    Team CG Infinity\n                  </p>\n                </a>\n              </div>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n\n      <table\n        align=\"center\"\n        style=\"\n          text-align: center;\n          vertical-align: top;\n          width: 600px;\n          max-width: 600px;\n          background-color: #b2b2b3;\n        \"\n        width=\"600\"\n      >\n        <tbody>\n          <tr>\n            <td\n              style=\"\n                width: 596px;\n                vertical-align: top;\n                padding-left: 30px;\n                padding-right: 30px;\n                padding-top: 30px;\n                padding-bottom: 30px;\n              \"\n              width=\"596\"\n            >\n              <p\n                style=\"\n                  font-size: 20px;\n                  line-height: 24px;\n                  font-family: 'Helvetica', Arial, sans-serif;\n                  font-weight: 600;\n                  margin-bottom: 5px;\n                  text-decoration: none;\n                  color: #002c3f;\n                \"\n              >\n                Contact Us\n              </p>\n              <p\n                style=\"\n                  font-size: 16px;\n                  line-height: 24px;\n                  font-family: 'Helvetica', Arial, sans-serif;\n                  margin-bottom: 2px;\n                  margin-top: 2px;\n                  text-decoration: none;\n                  color: #000000;\n                \"\n              >\n                +14699167730\n              </p>\n              <a href=\"mailto:info@cginfinity.com\"\n                ><p\n                  style=\"\n                    font-size: 16px;\n                    line-height: 24px;\n                    margin-bottom: 2px;\n                    margin-top: 2px;\n                    font-family: 'Helvetica', Arial, sans-serif;\n                    text-decoration: none;\n                    color: #000000;\n                  \"\n                >\n                  info@cginfinity.com\n                </p></a\n              >\n\n              <div style=\"color: #ffffff; margin-top: 20px\">\n                <div>\n                  <a\n                    href=\"https://www.instagram.com/cginfinityinc/\"\n                    target=\"_blank\"\n                  >\n                    <img\n                      src=\"https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-512.png\"\n                      width=\"20\"\n                      height=\"20\"\n                      alt=\"Instagram Icon\"\n                    />\n                  </a>\n\n                  <a\n                    href=\"https://www.facebook.com/cginfinityinc/\"\n                    target=\"_blank\"\n                  >\n                    <img\n                      src=\"https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-512.png\"\n                      width=\"20\"\n                      height=\"20\"\n                      alt=\"Facebook Icon\"\n                    />\n                  </a>\n\n                  <a\n                    href=\"https://www.linkedin.com/company/cginfinity\"\n                    target=\"_blank\"\n                  >\n                    <img\n                      src=\"https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Linkedin2_svg-512.png\"\n                      width=\"20\"\n                      height=\"20\"\n                      alt=\"Linkedin Icon\"\n                    />\n                  </a>\n\n                  <a\n                    href=\"https://www.youtube.com/CGInfinityInc\"\n                    target=\"_blank\"\n                  >\n                    <img\n                      src=\"https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Youtube3_svg-512.png\"\n                      width=\"20\"\n                      height=\"20\"\n                      alt=\"Youtube Icon\"\n                    />\n                  </a>\n\n                  <a href=\"https://twitter.com/cginfinityinc\" target=\"_blank\">\n                    <img\n                      src=\"https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Twitter5_svg-512.png\"\n                      width=\"20\"\n                      height=\"20\"\n                      alt=\"Twitter Icon\"\n                    />\n                  </a>\n                </div>\n              </div>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n\n      <table\n        align=\"center\"\n        style=\"\n          text-align: center;\n          vertical-align: top;\n          width: 600px;\n          max-width: 600px;\n          background-color: #002c3f;\n        \"\n        width=\"600\"\n      >\n        <tbody>\n          <tr>\n            <td style=\"width: 596px; vertical-align: top\" width=\"596\">\n              <h1\n                style=\"\n                  font-size: 14px;\n                  line-height: 24px;\n                  font-family: 'Helvetica', Arial, sans-serif;\n                  font-weight: 600;\n                  text-decoration: none;\n                  color: #ffffff;\n                \"\n              >\n                © 2023 CG Infinity. All rights reserved\n              </h1>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <!-- End single column section -->\n    </div>\n  </body>\n</html>\n`\nmsg.payload = msg.payload.replace('{1}', msg.otp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1020,"wires":[["27938a792e6dfa31","fb7345e90af39f30","f04f3bc44db493a0"]]},{"id":"fb7345e90af39f30","type":"debug","z":"e14c3e7a927c2290","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":1060,"wires":[]},{"id":"f04f3bc44db493a0","type":"http response","z":"e14c3e7a927c2290","name":"200","statusCode":"200","headers":{},"x":670,"y":980,"wires":[]},{"id":"7428c937a4ac98a6","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","env":[],"x":1350,"y":660,"wires":[["839247a533a72aab"],["41f4121e85878224"]]},{"id":"47cd5cfa480284e7","type":"http response","z":"e14c3e7a927c2290","name":"","statusCode":"","headers":{},"x":1550,"y":740,"wires":[]},{"id":"41f4121e85878224","type":"function","z":"e14c3e7a927c2290","name":"Something went wrong","func":"msg.payload = {\n    isRegistered: false,\n    msg: \"Something went wrong.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":680,"wires":[["47cd5cfa480284e7"]]},{"id":"6efbbefba8f14997","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","env":[],"x":790,"y":340,"wires":[["1836b7bb508452a2"],["1836b7bb508452a2"]]},{"id":"d55cfbcc90d6c1ca","type":"inject","z":"e14c3e7a927c2290","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":340,"wires":[["2d7d60c5c35d63e2"]]},{"id":"2d7d60c5c35d63e2","type":"function","z":"e14c3e7a927c2290","name":"DELETE ALL DATA","func":"msg.sQuery = `TRUNCATE TABLE Users\n`;\n// msg.sBinds = {\n//     email: \"sudhir.bhandari057@gmail.com\",\n//     password:\"helloDear\"\n// };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":340,"wires":[["6efbbefba8f14997"]]},{"id":"1836b7bb508452a2","type":"debug","z":"e14c3e7a927c2290","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]},{"id":"839247a533a72aab","type":"function","z":"e14c3e7a927c2290","name":"","func":"msg.payload = {\n    \"email\": msg.userData.email,\n    \"otp\": msg.otp\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":520,"wires":[["6c0e0f4e83293c08"]]},{"id":"fb2e7f38cf57b374","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","x":770,"y":1720,"wires":[["4ed6c461a5e02015"],["6de8c221176f6d16"]]},{"id":"0f2711d7568d3635","type":"http response","z":"e14c3e7a927c2290","name":"200","statusCode":"200","headers":{},"x":890,"y":1760,"wires":[]},{"id":"6de8c221176f6d16","type":"function","z":"e14c3e7a927c2290","name":"function 8","func":"msg.payload={\n    isValid: false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1760,"wires":[["0f2711d7568d3635"]]},{"id":"51683f368a2de9ee","type":"switch","z":"e14c3e7a927c2290","name":"Filter Users","property":"isDataThere","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":1720,"wires":[["059698bebc26afab"],["fa38604274cb496b"]]},{"id":"03897b6fe13db5c0","type":"http response","z":"e14c3e7a927c2290","name":"200","statusCode":"200","headers":{},"x":1450,"y":1760,"wires":[]},{"id":"fa38604274cb496b","type":"function","z":"e14c3e7a927c2290","name":"function 9","func":"msg.payload={\n    isValid: false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1760,"wires":[["03897b6fe13db5c0"]]},{"id":"5c5f295d8b8bc437","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","x":1750,"y":1720,"wires":[["f4aa9827a34b2bb3"],["f4aa9827a34b2bb3"]]},{"id":"f4aa9827a34b2bb3","type":"function","z":"e14c3e7a927c2290","name":"response message ","func":"msg.payload = {\n    isOTPVerified: msg.isOTPVerified.toString()};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":1720,"wires":[["5833b90a46f57013"]]},{"id":"e359b8850a699393","type":"http in","z":"e14c3e7a927c2290","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1920,"wires":[["588ca3f34e4d4da4"]]},{"id":"588ca3f34e4d4da4","type":"function","z":"e14c3e7a927c2290","name":"extract data from payload","func":"//data model\nmsg.userData = {\n    \"email\":msg.payload.email,\n    \"password\":msg.payload.password,\n};\nmsg.sQuery=`SELECT email, password FROM Users WHERE email = $email`;\nmsg.sBinds = {\n    email: msg.userData.email,\n    // email: \"msg.userData.email\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1920,"wires":[["cb0871494f006936"]]},{"id":"cb0871494f006936","type":"subflow:bdb37dd2.45963","z":"e14c3e7a927c2290","name":"","x":610,"y":1920,"wires":[["8ca7d4624f9e9de2"],["e3b74363288801aa"]]},{"id":"db17f9ce18550792","type":"http response","z":"e14c3e7a927c2290","name":"200","statusCode":"200","headers":{},"x":810,"y":1980,"wires":[]},{"id":"e3b74363288801aa","type":"function","z":"e14c3e7a927c2290","name":"User not found","func":"msg.payload={\n    isValid: false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1980,"wires":[["db17f9ce18550792"]]},{"id":"8ca7d4624f9e9de2","type":"function","z":"e14c3e7a927c2290","name":"filter the user based on password comparision","func":"if(msg.payload[0].password==msg.userData.password){\n    msg.payload = {\n        \"isValid\":true\n    }\n}\nelse{\n    msg.payload = {\n        \"isValid\": false\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1920,"wires":[["dc07301a9ac3b494"]]},{"id":"dc07301a9ac3b494","type":"http response","z":"e14c3e7a927c2290","name":"","statusCode":"","headers":{},"x":1330,"y":1920,"wires":[]},{"id":"54f48c785813ec17","type":"subflow:e3c2b69a.c6db58","z":"e14c3e7a927c2290","name":"","x":140,"y":40,"wires":[]}]